<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name="com.tomdev.logopadix.LogoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:theme="@style/Theme.LogopadixApp"
        tools:targetApi="31" >
        <activity
            android:name=".presentationLayer.screens.home.HomeScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".presentationLayer.screens.info.InfoScreen"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".presentationLayer.screens.speech.speechScreen.SpeechScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.eyesight.eyesightScreen.EyesightScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.hearing.hearingScreen.HearingScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.rythm.rythmScreen.RythmScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.tales.talesMenu.TalesScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.speech.speechDetailScreen.SpeechDetailScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.eyesight.eyesightSynthesisScreen.EyesightSynthesisScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.eyesight.eyesightComparisonScreen.EyesightComparisonScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.eyesight.eyesightDifferScreen.EyesightDifferScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.eyesight.eyesightMemoryScreen.EyesightMemoryScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.eyesight.eyesightSearch.EyesightSearchScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.levels.LevelsScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.hearing.hearingFonematic.HearingFonematicScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.hearing.hearingMemory.HearingMemoryScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.hearing.hearingSynthesis.HearingSynthesisScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.rythm.rythmShelvesScreen.RythmShelvesScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.rythm.rythmSyllablesScreen.RythmSyllabelsScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.rythm.rythmRepeatScreen.RythmRepeatScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentationLayer.screens.tales.taleDetail.TaleDetailScreen"
            android:screenOrientation="portrait"
            android:exported="true"/>
    </application>

</manifest>